{% extends 'admin/base.html' %}

{% block body %}
<h1 class="text-center text-warning">Revenue Statistics</h1>
<div class="row">
    <div class="col-md-5 col-xs-12">
        <table class="table">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Revenue</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>
                    {% if s[2] %}
                    {{ "{:,.1f}".format(s[2]) }} VND
                    {% else %}
                    0 VND
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-5 col-xs-12">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" name="kw" placeholder="search" />
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="from_date" />
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="to_date" />
            </div>
            <input type="submit" value="Statistic" class="btn btn-info" />
        </form>
        <canvas id="productChartId"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-xs-12">
        <table class="table">
            <tr>
                <th>Month</th>
                <th>Revenue</th>
            </tr>
            {% for s in month_stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ "{:,.1f}".format(s[1]) }} VND VND</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-5 col-xs-12">
        <form>
            <div class="form-group">
                <input type="number" min="1997" name="year" class="form-control" placeholder="Enter year" />
            </div>
            <input type="submit" value="Statistic" class="btn btn-danger" />
        </form>
        <canvas id="productMonthChartId"></canvas>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels = [], labels_month = []
    let data = [], data_month = []
    let colors = [], colors_month = []
    let borderColors = [], borderColors_month = []
    let r, g, b;

    {% for s in stats %}
        {% if s[2] %}
        labels.push({{ s[1]|tojson }})
        data.push({{ s[2] }})

        r = Math.random()*255
        g = Math.random()*255
        b = Math.random()*255

        colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
        borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
        {% endif %}
    {% endfor %}

    {% for s in month_stats %}
        labels_month.push({{ s[0] }})
        data_month.push({{ s[1] }})

        r = Math.random()*255
        g = Math.random()*255
        b = Math.random()*255

        colors_month.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
        borderColors_month.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {% endfor %}

    window.onload = function() {
        const ctx = document.getElementById('productChartId').getContext('2d');
        const ctx_month = document.getElementById('productMonthChartId').getContext('2d');

        loadChart(ctx, labels, data, 'bar', colors, borderColors)
        loadChart(ctx_month, labels_month, data_month, 'bar', colors_month, borderColors_month)
    }

function loadChart(ctx, labels, data, type, colors, borderColors) {
    const myChart = new Chart(ctx, {
        type: type,
        data: {
          labels: labels,
            datasets: [{
            label: 'Statistics on Quantity',
            data: data,
            backgroundColor: colors,
            borderColor: borderColors,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
    });
}
</script>

{% endblock %}