{% extends 'layout/base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
<h1 class="text-center text-warning">CART</h1>

{% if 'cart' in session and session['cart'] %}
<table class="table">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th></th>
    </tr>

    {% for c in session['cart'].values() %}
    <tr id="product{{ c.id }}">
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.price }}</td>
        <td>
            <div class="form-group">
                <input type="number" min="1" onblur="updateCart({{ c.id }}, this)" value="{{ c.quantity }}"
                       class="form-control"/>
            </div>
        </td>
        <td>
            <input type="button" onclick="deleteCart({{ c.id }})" value="Remove" class="btn btn-danger"/>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="alert alert-info">
    <h5>Total Quantity: <span class="cart-counter">{{ stats.total_quantity }}</span></h5>
    <h5>Total Amount: <span id="total-amount">{{ "{:,.1f}".format(stats.total_amount) }}</span> VND</h5>
</div>

{% if current_user.is_authenticated %}
<input type="button" value="Payment" class="btn btn-success" onclick="pay()"/>
{% else %}
<a href="{{ url_for('user_signin', next='cart') }}">Login to Payment.</a>
{% endif %}
<br><br>
{% else %}
<p><i>No products in cart!</i></p>
{% endif %}
{% endblock %}